{% extends "t-blank.html" %}

{% block css %}
<link href="http://cdn.staticfile.org/bootstrap-switch/3.0.0rc/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet">
{% endblock %}

{% block context %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ Title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-condensed table-striped table-hover">
                    <thead>
                        <tr>
                            <th>名称</th>
                            <th>计数</th>
                            <th>最近更新</th>
                            <th>专辑</th>
                            <th>编辑</th>
                            <th>删除</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for b in Bookmarks %}
                        <tr>
                            <td>{{ b.Name }}</td>
                            <td>{{ b.Count }}</td>
                            <td>{{ b.MdfTime|date:"2006-01-02" }}</td>
                            <td><input type="checkbox" name="special" value="{{ b.Id }}" {% if b.Special %}checked="checked"{% endif %}></td>
                            <td><button type="button" class="btn btn-info btn-sm" onclick="editBookmark({{b.Id}},'{{b.Name}}')"><i class="fa fa-edit"></i></button></td>
                            <td><button type="button" class="btn btn-danger btn-sm" onclick="ajaxDelBookmark({{ b.Id }})"><i class="fa fa-times"></i></button></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div><!-- /.col-lg-12 -->
    </div><!-- /.row -->
    <div class="row">
        <div class="col-lg-12 text-right">
            <form id="bookmarkForm" class="form-inline" role="form" method="post" onsubmit="return ajaxBookmark()">
                <div class="form-group">
                    <input type="text" class="form-control" maxlength="32" name="name" placeholder="Name" required>
                </div>
                <input type="hidden" name="id" value="0">
                <input type="submit" class="btn btn-default" value="添加">
            </form>
        </div>
    <div>
</div><!-- /#page-wrapper -->
{% endblock %}

{% block js %}
<script src="http://cdn.staticfile.org/bootstrap-switch/3.0.0rc/js/bootstrap-switch.min.js"></script>

<script>
function ajaxBookmark(){ // 添加和修改书签
    var submit = $('#bookmarkForm [type="submit"]');

    $.ajax({
        data: $('#bookmarkForm').serializeArray(),
        type: 'post',
        dataType: 'json',
        cache: false,
        beforeSend: function(xhr){
            submit.attr("disabled", "disabled");
        },
        error: function(xhr, textStatus, errThr){
            alert(textStatus);
        },
        success: function(data, textStatus){
            if (data.err) {
                alert(data.err);
            } else{
                 location.reload();  //提交成功后，重新加载页面
            }
        },
        complete: function(xhr, ts){
            $('#bookmarkForm [name="id"]').val(0);
            submit.removeAttr("disabled");

            submit.val("添加")
            $('#bookmarkForm')[0].reset() //调用 dom 的 reset 方法

        },
    });

    return false
}

function ajaxDelBookmark(id){ // 删除书签
    $.ajax({
        url: '{{ APP.Url }}/bookmark/del?id=' + id,
        error: function(xhr, textStatus, errThr){
            alert(textStatus);
        },
        success: function(data, textStatus){
            location.reload();
        },
    });

    return false
}

function editBookmark(id, name, special){ // 编辑书签（不是提交表单）
    $('#bookmarkForm [name="id"]').val(id);
    $('#bookmarkForm [name="name"]').val(name);
    $('#bookmarkForm [type="submit"]').val("修改");
}

$(function(){
    $('input[name="special"]').bootstrapSwitch();  // bootstrap-switch 初始化

    $('input[name="special"]').on('switchChange.bootstrapSwitch', function(event, state) {
        $.ajax({
            url: '{{ APP.Url }}/bookmark/switch?id=' + this.value + "&special=" + state.value,
            error: function(xhr, textStatus, errThr){
                alert(textStatus);
                location.reload();
            },
        });
    });
});
</script>
{% endblock %}
