{% extends "t-base.html" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">请登录 {{ APP.Name }}！</h3>
                </div>
                <div class="panel-body">
                    <form id="loginForm" role="form" method="post" onsubmit="return ajaxLogin()">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="E-mail" name="email" type="email" required autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="password" type="password" required>
                            </div>
                            <div class="form-group has-warning">
                                <a href="javascript:void(0)" id="captchaReq">
                                    <img style="width:260px;height:80px;" id=image src="{{ APP.Url }}/captcha/{{ Captcha.Id }}.png" alt="Captcha image" title="点击更新" />
                                    <i class="fa fa-refresh"></i>
                                    <input type="hidden" name="captchaId" value="{{ Captcha.Id }}">
                                </a>
                                <input style="width:160px;" class="form-control" placeholder="Captcha" name="captchaVal" type="number" min=1 required>
                            </div>
                            <div id="formErrMsg" class="alert alert-danger" role="alert" style="display:none"></div>
                            <button id="submit" type="submit" class="btn btn-primary btn-lg btn-block">登 陆</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
// ajax 提交表单函数
function ajaxLogin(){
    $.ajax({
        data: $('#loginForm').serializeArray(),
        type: 'post',
        dataType: 'json',
        cache: false,
        beforeSend: function(xhr){
            $('#submit').attr("disabled", "disabled");
            $('#formErrMsg').hide('fast');
        },
        error: function(xhr, textStatus, errThr){
            alert(textStatus);
        },
        success: function(data, textStatus){
            if (data.err) {
                $('#formErrMsg').text(data.err);
                $('#formErrMsg').show('fast');
                updateCaptcha(); //更新验证码
            } else{
                location.href = '{{ APP.Url }}'; //登陆成功跳转到首页    
            }
        },
        complete: function(xhr, ts){
            $('#loginForm')[0].reset() //调用 dom 的 reset 方法
            $('#submit').removeAttr("disabled");
        },
    });

    return false
}

// 更新验证码
function updateCaptcha(){
    $.ajax({
        url: '{{ APP.Url }}/captcha/request?t=' + new Date().getTime(),
        dataType: 'json',
        cache: false,
        error: function(xhr, textStatus, errThr){
            alert(textStatus);
        },
        success: function(data, textStatus){
            $('#captchaReq img:first').attr('src', '{{ APP.Url }}/captcha/'+ data.Id +'.png');
            $('#captchaReq input:first').val(data.Id);
        },
    });
}

//绑定事件
$(document).ready(function() {
    $('#captchaReq').click(function () {
        updateCaptcha();
    });
});
</script>
{% endblock %}
