{% extends "t-base.html" %}

{% block body %}
    <div id="wrapper">

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ APP.Url }}">
                    <img style="height:35px" src="{{ APP.Url }}/static/img/logo.png" /> {{ APP.Name }}
                </a>
            </div><!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i><span class="badge">4</span> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>袁中道</strong>
                                    <span class="pull-right text-muted"><em>2014-8-8</em></span>
                                </div>
                                <div>人生贵知心，定交无暮早。</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>所有评论</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul><!-- /.dropdown-messages -->
                </li><!-- /.dropdown -->

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                    {% if APP.Admin %}
                        <li><a href="{{ APP.Url }}/user-profile"><i class="fa fa-user fa-fw"></i> 用户配置</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ APP.Url }}/logout"><i class="fa fa-sign-out fa-fw"></i> 登出</a></li>
                    {% else %}
                        <li><a href="{{ APP.Url }}/login"><i class="fa fa-sign-in fa-fw"></i> 登陆</a></li>
                    {% endif %}
                    </ul><!-- /.dropdown-user -->
                </li><!-- /.dropdown -->

            </ul><!-- /.navbar-top-links -->

            <div class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="side-menu">

                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="搜索...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </li> <!-- /sidebar-search -->

                        {% if APP.Admin %} <!-- 管理页面只有登陆后才显示 -->
                        <li>
                            <a href="#"><i class="fa fa-gear fa-fw"></i> 管理<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li><a href="{{ APP.Url }}/user-profile"><i class="fa fa-user fa-fw"></i> 用户配置</a></li>
                                <li><a href="{{ APP.Url }}/bookmark"><i class="fa fa-bookmark fa-fw"></i> 书签</a></li>
                            </ul>
                        </li>
                        {% endif %}

                    </ul><!-- /#side-menu -->
                </div><!-- /.sidebar-collapse -->
            </div><!-- /.navbar-static-side -->
        </nav>

{% block context %}{% endblock %}

    </div>
    <!-- /#wrapper -->
{% endblock %}
